@import "../base/base.css";
.daily-frame{
    width:100%;
    padding:15px 0;
}
.daily-title{
    width:92%;
    font-weight: 400;
    font-size: 24px;
}
.daily-time-frame{
    width:100%;
    color: #8c8c8c;
    font-size: 16px;
}
.daily-time{
    margin-left: 24px;
}
.daily-img-frame{
    width:100%;
    margin-top:5px;
}
.daily-img-frame img{
    display:block;
    width:92%;
}
.daily-content-frame{
    width:92%;
    margin-top:20px;
}
.daily-content{
    min-height: 100px;
    border: 35px solid transparent;
    border-image:url(http://gagaprince.oss-cn-beijing.aliyuncs.com/daily/0.gif) 55 55 stretch;
    color: rgb(135, 197, 253);


}
.daily-bg{
    padding:20px 0;
    width:100%;
    min-height:100px;
    background-image:url(http://gagaprince.oss-cn-beijing.aliyuncs.com/daily/blue.jpg);
    background-repeat: repeat repeat;
}
.daily-duan-frame{
    font-size: 16px;
    width:90%;
    box-sizing: border-box;
/*    word-wrap: break-word;*/
    color:#fff;
    padding:15px;
    font-family: "微软雅黑";
}
.black-tou{
    background-color: rgba(0, 0, 0, 0.298039);
}
.white-tou{
    background-color: rgba(255, 255, 255, 0.298039);
}
.daily-line{
    width:90%;
    height:1px;
    background:#fff;
}
.daily-img{
    width:90%;
}
.daily-img img{
    width:100%;
    display: block;
}
