<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wang.gagalulu.lovehouse.dao.SongDao">
	<resultMap id="SongModelResultMap" type="SongModel">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="singer" property="singer" jdbcType="VARCHAR" />
		<result column="album" property="album" jdbcType="VARCHAR" />
		<result column="src" property="src" jdbcType="VARCHAR" />

	</resultMap>
	
	<select id="getAllSong" parameterType="map"  resultMap="SongModelResultMap">
		select * from song where online=1
	</select>
</mapper>