<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wang.gagalulu.lovehouse.dao.MenuDao">
	<resultMap id="MenuModelResultMap" type="MenuModel">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="menu" property="menu" jdbcType="VARCHAR" />
		<result column="rank" property="rank" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>
	
	<insert id="save"
		parameterType="MenuModel"
		useGeneratedKeys="true" keyProperty="id">
		insert into daily(
		<trim suffixOverrides=",">
			<if test="id != null"> id ,</if>
			<if test="content != null"> content ,</if>
			<if test="createTime != null"> create_time ,</if>
		</trim>
		)values(
		<trim suffixOverrides=",">
			<if test="id != null"> #{id} ,</if>
			<if test="content != null"> #{content} ,</if>
			<if test="createTime != null"> #{createTime} ,</if>
		</trim>
		)
	</insert>
	
	<select id="getLastMenu" resultMap="MenuModelResultMap">
		SELECT * FROM menu ORDER BY rank	DESC LIMIT 1
	</select>
</mapper>